<section>
  <article>
    <div>
      <img   draggable="false" src="{{avatarSrc}}" alt="avatar" data-aos="fade-up">
      <h1 data-aos="zoom-in-up">Developer Java / Angular</h1>
      <span class="citation" data-aos="zoom-in-up">The world of computing is constantly changing, all like the knowledge of a developer. Both evolve in symbiosis.</span>
      <span id="downArrow" data-aos="zoom-in-up"><a href="#description">⮟</a></span>
    </div>
  </article>
  <article id="description">
    ded
  </article>
</section>

